<div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for video in videos %}

                {% if video_no_members is not null %}

                    {% set videoid = video_no_members %}
                {% else %}
                     {% set videoid = video.path %}
                {% endif %}

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div align="center" class="embed-responsive embed-responsive-16by9">
                                {% if video.source == 'server' and environment == 'dev' %}
                                <iframe src="http://localhost/Symfony%20applications/Licenta/public/{{videoid}}" frameborder="0"
                                 allowfullscreen></iframe>
                                {% elseif video.source == 'vimeo' and environment == 'dev' %}
                                <iframe src="{{videoid}}" frameborder="0"
                                 allowfullscreen></iframe>
                                {% elseif video.source == 'server' and environment == 'prod' %} 
                                <iframe src="http://localhost/Symfony%20applications/Licenta/public/{{videoid}}" frameborder="0"
                                 allowfullscreen></iframe>
                                {% elseif video.source == 'vimeo' and environment == 'prod' %}
                                <iframe src="{{videoid}}" frameborder="0"
                                 allowfullscreen></iframe>
                                {% endif %} 
 


                        </div>
                        <div class="card-body">
                            <h3>{{video.getTitle()}}</h3>
                            
                            {% if not app.user or video_no_members is not null   %} 

                            <p class="card-text text-danger">Video for <b>MEMBERS</b> only. <a href="{{path('pricing')}}">Sign
                                    up</a> for one month for free.</p>
                            {% endif  %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                    <i class="fa fa-thumbs-up"><small class="text-muted number-of-likes-{{video.id}}">({{video.usersthatlike.count}})</small></i>&nbsp;
                                    <i class="fa fa-thumbs-down"><small class="text-muted number-of-dislikes-{{video.id}}">({{video.usersthatdontlike.count}})</small></i>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                                    {{ include('front/includes/_likes.html.twig', {'video' : video}) }}
                                    {% endif  %}
                                    <a class="ml-1" href="{{path('video_details',{'video':video.id})}}#video_comments">Comments ({{video.comments.count}})</a>
                                </div>
                                <small class="text-muted">{{video.getDuration()}} mins</small>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}

            </div>
        </div>
    </div>
<script>
window.onload = function () {
        if (window.jQuery) {
        $(document).ready(function () {
            $('button.toggle-likes').on('click', function (e) {
                var $link = $(this).attr('likes-link');

                $.ajax({
                    method: 'POST',
                    url: $link,
                }).done(function (data) {
                    switch (data.action) {
                        case 'liked':
                            var number_of_likes_str = $('.number-of-likes-' + data.id);
                            var number_of_likes = parseInt(number_of_likes_str.html().replace(/\D/g, '')) + 1;
                            number_of_likes_str.html('(' + number_of_likes + ')');
                            $('.likes-video-id-' + data.id).show();
                            $('.dislikes-video-id-' + data.id).hide();
                            $('.video-id-' + data.id).hide();

                            break;
                        case 'disliked':
                            var number_of_dislikes_str = $('.number-of-dislikes-' + data.id);
                            var number_of_dislikes = parseInt(number_of_dislikes_str.html().replace(/\D/g, '')) + 1;
                            number_of_dislikes_str.html('(' + number_of_dislikes + ')');
                            $('.dislikes-video-id-' + data.id).show();
                            $('.likes-video-id-' + data.id).hide();
                            $('.video-id-' + data.id).hide();

                            break;
                        case 'undo liked':
                            var number_of_likes_str = $('.number-of-likes-' + data.id);

                            var number_of_likes = parseInt(number_of_likes_str.html().replace(/\D/g, '')) - 1;
                            number_of_likes_str.html('(' + number_of_likes + ')');
                            $('.video-id-' + data.id).show();
                            $('.dislikes-video-id-' + data.id).hide();
                            $('.likes-video-id-' + data.id).hide();

                            break;
                        case 'undo disliked':
                            var number_of_dislikes_str = $('.number-of-dislikes-' + data.id);
                            var number_of_dislikes = parseInt(number_of_dislikes_str.html().replace(/\D/g, '')) - 1;
                            number_of_dislikes_str.html('(' + number_of_dislikes + ')');
                            $('.video-id-' + data.id).show();
                            $('.dislikes-video-id-' + data.id).hide();
                            $('.likes-video-id-' + data.id).hide();

                            break;
                    }
                })
            });
        });
    } else {
        console.log('Likes functionality not working without jQuery');
    }
}
</script>